/* styles.css continued */

.video-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  video {
    width: 100%;
    max-width: 600px;
  }
  
  .controls {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  .play-pause {
    width: 20px;
    height: 20px;
    background: url('icons/play.svg');
    background-size: cover;
  }
  
  .play-pause.paused {
    background-image: url('icons/pause.svg'); 
  }
  
  .progress-bar {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .time-elapsed, 
  .time-duration {
    font-size: 0.9em;
  }
  
  .mute {
    width: 20px;
    height: 20px;
    background: url('icons/sound.svg');
    background-size: cover;
  }
  
  .mute.muted {
    background-image: url('icons/mute.svg');
  } 
  
  .volume-bar {
    width: 100px;  
  }
  
  .full-screen {
    width: 20px;
    height: 20px;
    background: url('icons/fullscreen.svg');
    background-size: cover;
  }
  
  .full-screen.fullscreen {
    background-image: url('icons/smallscreen.svg');
  }
  
  .position {
    padding: 10px;
    font-size: 0.9em;
  }
  